`@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model IEnumerable<PetModel>
}

@if (@Model.Any())
{
<table class="table"> 
            <thead>
                <tr>
                    <th>
                        Име
                    </th>
                     <th>
                        Број на чип
                    </th>
                     <th>
                        Врста
                    </th>
                     <th>
                        Раса
                    </th>
                     <th>
                        Датум на раѓање
                    </th>
                    <th>
                        Опис
                    </th>
                     <th>
                        Пол
                    </th>
               
                     <th>
                        Алергија
                    </th>
                    <th>
                        Последна посета
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (PetModel p in @Model)
                {
                <tr>
                    <td>
                        @p.Name
                    </td>
                    <td>
                        @p.ChipNumber
                    </td>
                      <td>
                        @p.Species.Type
                    </td>
                    <td>
                        @p.Breed.Name
                    </td>
                      <td>
                        @p.DateOfBirth 
                    </td>
                    <td>
                        @p.Description
                    </td>
                      <td>
                        @p.Sex
                    </td>
                    <td>
                        @p.Alergy
                    </td>
                    <td>
                        @p.LastCheckup
                    </td>
                </tr>
                }

            </tbody>
        </table>
    
}
else {
         <hr />
         <h5 class="pt-3">Овој сопственик нема заведени миленици</h5>
       
}
